---
layout: default
---
<ul class="entries">
{% for post in paginator.posts %}
	<li class="entry group">
		<div class="entry-date">
			<time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%b %-d, %Y" }}</time>
		</div>
		<div class="entry-title">
			<h2>
			<a class="post-link" href="{{ post.url }}">{{ post.title }}</a>
			</h2>
		</div>
	</li>
{% endfor %}
</ul>

<!-- Pagination links -->
<article>
<div class="pagination">
	{% if paginator.previous_page %}
	<a href="{{ paginator.previous_page_path }}" class="previous">
		Prev
	</a>
	{% else %}
	<span class="previous">Prev</span>
	{% endif %}
	<span class="page_number ">
    {{ paginator.page }} of {{ paginator.total_pages }}
  </span>
	{% if paginator.next_page %}
	<a href="{{ paginator.next_page_path }}" class="next">Next</a>
	{% else %}
	<span class="next ">Next</span>
	{% endif %}
</div>
</article>
